In [202]:
import pandas as pd
import plotly

In [203]:
data=pd.read_csv("KAG_conversion_data.csv")
data_1178=data.copy()
data_1178=data_1178[data_1178['xyz_campaign_id'].isin([1178])]

In [204]:
data_1178=data_1178[['gender','age','interest','Impressions','Clicks','Total_Conversion','Approved_Conversion']]
data_s_1178=data_1178[(data_1178['interest']==101)|
                      (data_1178['interest']==104)|
                      (data_1178['interest']==15)|
                      (data_1178['interest']==32)|
                      (data_1178['interest']==24)|
                      (data_1178['interest']==21)]

In [205]:
data_s_1178.head()
data_2_1178=data_s_1178.copy()
data_3_1178=data_s_1178.copy()

In [206]:
data_2_1178['rapport_vues_clicks']=data_2_1178['Clicks']/data_2_1178['Impressions']*100
data_2_1178['rapport_clicks_conversion']=data_2_1178['Total_Conversion']/data_2_1178['Clicks']*100
data_2_1178['rapport_conversion_total']=data_2_1178['Approved_Conversion']/data_2_1178['Total_Conversion']*100

In [207]:
data_2_1178.sort_values(by='interest', ascending=True)

,gender,age,interest,Impressions,Clicks,Total_Conversion,Approved_Conversion,rapport_vues_clicks,rapport_clicks_conversion,rapport_conversion_total
523,M,30-34,15,30068,1,1,0,0.003326,100.000000,0.000000
997,F,45-49,15,559554,139,2,0,0.024841,1.438849,0.000000
996,F,45-49,15,662249,163,2,0,0.024613,1.226994,0.000000
951,F,40-44,15,582725,142,9,2,0.024368,6.338028,22.222222
906,F,35-39,15,24664,2,1,1,0.008109,50.000000,100.000000
905,F,35-39,15,132803,25,2,1,0.018825,8.000000,50.000000
828,F,30-34,15,333345,52,5,1,0.015599,9.615385,20.000000
826,F,30-34,15,182265,27,2,1,0.014814,7.407407,50.000000
764,M,45-49,15,250960,42,2,0,0.016736,4.761905,0.000000
763,M,45-49,15,506916,89,2,2,0.017557,2.247191,100.000000
762,M,45-49,15,54237,7,2,1,0.012906,28.571429,50.000000
704,M,40-44,15,163181,26,1,1,0.015933,3.846154,100.000000
627,M,35-39,15,782894,118,5,2,0.015072,4.237288,40.000000
626,M,35-39,15,187329,29,2,1,0.015481,6.896552,50.000000
625,M,35-39,15,180351,21,1,1,0.011644,4.761905,100.000000
827,F,30-34,15,1117371,177,26,5,0.015841,14.689266,19.230769
525,M,30-34,15,3052003,340,60,17,0.011140,17.647059,28.333333
524,M,30-34,15,1267550,123,24,10,0.009704,19.512195,41.666667
527,M,30-34,15,357856,30,7,3,0.008383,23.333333,42.857143
526,M,30-34,15,29945,1,2,1,0.003339,200.000000,50.000000
784,M,45-49,21,381577,81,2,0,0.021228,2.469136,0.000000
783,M,45-49,21,59838,7,1,0,0.011698,14.285714,0.000000
959,F,40-44,21,25382,7,1,0,0.027579,14.285714,0.000000
958,F,40-44,21,190477,42,1,0,0.022050,2.380952,0.000000
957,F,40-44,21,46391,11,3,1,0.023711,27.272727,33.333333
548,M,30-34,21,20618,1,2,1,0.004850,200.000000,50.000000
547,M,30-34,21,286553,34,2,1,0.011865,5.882353,50.000000
845,F,30-34,21,159123,25,5,3,0.015711,20.000000,60.000000
846,F,30-34,21,103709,15,3,1,0.014464,20.000000,33.333333
847,F,30-34,21,271589,45,9,3,0.016569,20.000000,33.333333
...,...,...,...,...,...,...,...,...,...,...
589,M,30-34,32,22256,1,1,1,0.004493,100.000000,100.000000
879,F,30-34,32,390339,60,9,6,0.015371,15.000000,66.666667
588,M,30-34,32,404866,43,4,0,0.010621,9.302326,0.000000
676,M,35-39,32,382537,63,4,3,0.016469,6.349206,75.000000
880,F,30-34,32,8350,0,1,0,0.000000,inf,0.000000
678,M,35-39,32,392541,53,3,2,0.013502,5.660377,66.666667
741,M,40-44,32,56630,9,1,1,0.015893,11.111111,100.000000
742,M,40-44,32,400844,85,4,2,0.021205,4.705882,50.000000
743,M,40-44,32,208572,36,2,1,0.017260,5.555556,50.000000
812,M,45-49,32,932890,197,3,1,0.021117,1.522843,33.333333
677,M,35-39,32,461356,64,6,3,0.013872,9.375000,50.000000
814,M,45-49,32,433658,82,5,2,0.018909,6.097561,40.000000
815,M,45-49,32,29455,3,1,0,0.010185,33.333333,0.000000
590,M,30-34,32,57690,4,1,0,0.006934,25.000000,0.000000
876,F,30-34,32,511726,77,8,4,0.015047,10.389610,50.000000
877,F,30-34,32,177452,24,2,0,0.013525,8.333333,0.000000
878,F,30-34,32,149808,20,1,1,0.013350,5.000000,100.000000
813,M,45-49,32,718359,147,4,1,0.020463,2.721088,25.000000
1116,F,40-44,101,696612,152,31,9,0.021820,20.394737,29.032258
1104,F,35-39,101,975884,167,14,3,0.017113,8.383234,21.428571
1091,F,30-34,101,524306,81,10,4,0.015449,12.345679,40.000000
1070,M,40-44,101,68619,10,1,0,0.014573,10.000000,0.000000
1058,M,35-39,101,33534,2,1,1,0.005964,50.000000,100.000000
1049,M,30-34,101,72228,5,4,4,0.006923,80.000000,100.000000
1130,F,45-49,101,589270,107,10,4,0.018158,9.345794,40.000000
1082,M,45-49,104,125650,20,4,0,0.015917,20.000000,0.000000
1094,F,30-34,104,442919,76,21,2,0.017159,27.631579,9.523810
1119,F,40-44,104,267316,58,3,0,0.021697,5.172414,0.000000
1071,M,40-44,104,17559,1,1,1,0.005695,100.000000,100.000000
1133,F,45-49,104,558666,110,14,5,0.019690,12.727273,35.714286

In [208]:
print("Nombre homme et femmes:\n", data_2_1178.gender.value_counts())
print("\nCatégories d'age:\n", data_2_1178.age.value_counts())
print("\nCatégorie de centre d'intéret:\n", data_2_1178.interest.value_counts())
print("\nClics générés:", data_2_1178.Clicks.sum(),"\n")
print("Nb d'infos prises:", data_2_1178.Total_Conversion.sum(),"\n")
print("Nb d'achat:", data_2_1178.Approved_Conversion.sum())

Nombre homme et femmes:
 M    49
F    42
Name: gender, dtype: int64

Catégories d'age:
 30-34    34
35-39    20
45-49    20
40-44    17
Name: age, dtype: int64

Catégorie de centre d'intéret:
 21     22
32     21
15     20
24     16
101     7
104     5
Name: interest, dtype: int64

Clics générés: 4375

Nb d'infos prises: 424

Nb d'achat: 143

In [209]:
group_agi=data_3_1178.groupby(['gender','age','interest'])

In [210]:
count_impressions=group_agi['Impressions'].count() #nb de campagnes
sum_impressions=group_agi['Impressions'].sum() #total visionnage du groupe
count_clicks=group_agi['Clicks'].count()
sum_clicks=group_agi['Clicks'].sum() #nb de clics par groupe
count_totconv=group_agi['Total_Conversion'].count()
sum_totconv=group_agi['Total_Conversion'].sum() #nb infos prises
count_appconv=group_agi['Approved_Conversion'].count()
sum_appconv=group_agi['Approved_Conversion'].sum()  #nb achats

In [211]:
sum_impressions

gender  age    interest
F       30-34  15          1632981
               21           654193
               24           455139
               32          1237675
               101          524306
               104          442919
        35-39  15           157467
               21           283220
               24           228664
               32           222378
               101          975884
        40-44  15           582725
               21           262250
               32           460538
               101          696612
               104          267316
        45-49  15          1221803
               21           224291
               24            99250
               101          589270
               104          558666
M       30-34  15          4737422
               21           546558
               24           276299
               32           484812
               101           72228
        35-39  15          1150574
               21           292834
               24           469952
               32          1236434
               101           33534
        40-44  15           163181
               21             7073
               24           347409
               32           666046
               101           68619
               104           17559
        45-49  15           812113
               21           506754
               24           355165
               32          2114362
               104          125650
Name: Impressions, dtype: int64

In [212]:
sdlz=pd.Series(sum_impressions)
df=pd.DataFrame([s])
ds=df.melt()
ds=ds.rename(columns={'value':'nb_vues'})
ds.head()
dnb=ds[['nb_vues']]
ds=ds[['nb_vues']]
ds.head()

   nb_vues
0  1632981
1   654193
2   455139
3  1237675
4   524306

In [225]:
s_impressions=pd.Series(sum_impressions)
s_clicks=pd.Series(sum_clicks)
s_totconv=pd.Series(sum_totconv)
s_appconv=pd.Series(sum_appconv)
desc=group_agi['Impressions'].describe()
final_desc=desc[[]]

In [214]:
ds['nb_vues']

0     1632981
1      654193
2      455139
3     1237675
4      524306
5      442919
6      157467
7      283220
8      228664
9      222378
10     975884
11     582725
12     262250
13     460538
14     696612
15     267316
16    1221803
17     224291
18      99250
19     589270
20     558666
21    4737422
22     546558
23     276299
24     484812
25      72228
26    1150574
27     292834
28     469952
29    1236434
30      33534
31     163181
32       7073
33     347409
34     666046
35      68619
36      17559
37     812113
38     506754
39     355165
40    2114362
41     125650
Name: nb_vues, dtype: int64

In [215]:
a=(ds.loc[0:]['nb_vues'])

In [216]:
desc=group_agi['Impressions'].describe()
final_desc=desc[[]]
final_desc

Empty DataFrame
Columns: []
Index: [(F, 30-34, 15), (F, 30-34, 21), (F, 30-34, 24), (F, 30-34, 32), (F, 30-34, 101), (F, 30-34, 104), (F, 35-39, 15), (F, 35-39, 21), (F, 35-39, 24), (F, 35-39, 32), (F, 35-39, 101), (F, 40-44, 15), (F, 40-44, 21), (F, 40-44, 32), (F, 40-44, 101), (F, 40-44, 104), (F, 45-49, 15), (F, 45-49, 21), (F, 45-49, 24), (F, 45-49, 101), (F, 45-49, 104), (M, 30-34, 15), (M, 30-34, 21), (M, 30-34, 24), (M, 30-34, 32), (M, 30-34, 101), (M, 35-39, 15), (M, 35-39, 21), (M, 35-39, 24), (M, 35-39, 32), (M, 35-39, 101), (M, 40-44, 15), (M, 40-44, 21), (M, 40-44, 24), (M, 40-44, 32), (M, 40-44, 101), (M, 40-44, 104), (M, 45-49, 15), (M, 45-49, 21), (M, 45-49, 24), (M, 45-49, 32), (M, 45-49, 104)]

## Méthode qui marche:

In [231]:
result=pd.concat([final_desc, s_impressions, s_clicks, s_totconv, s_appconv], axis=1)
result=result.rename(columns={'Impressions':'nb_vues', 'Clicks':'nb_clics', 'Total_Conversion':'nb_visites', 'Approved_Conversion':'nb_achats'})
result

                       nb_vues  nb_clics  nb_visites  nb_achats
gender age   interest
F      30-34 15        1632981       256          33          7
             21         654193       105          22          9
             24         455139        84           6          2
             32        1237675       181          21         11
             101        524306        81          10          4
             104        442919        76          21          2
       35-39 15         157467        27           3          2
             21         283220        65           5          2
             24         228664        62           5          1
             32         222378        50           1          0
             101        975884       167          14          3
       40-44 15         582725       142           9          2
             21         262250        60           5          1
             32         460538       111           3          0
             101        696612       152          31          9
             104        267316        58           3          0
       45-49 15        1221803       302           4          0
             21         224291        63           3          1
             24          99250        37           2          1
             101        589270       107          10          4
             104        558666       110          14          5
M      30-34 15        4737422       495          94         31
             21         546558        58          12          7
             24         276299        30           6          2
             32         484812        48           6          1
             101         72228         5           4          4
       35-39 15        1150574       168           8          4
             21         292834        44           4          1
             24         469952        65           6          2
             32        1236434       180          13          8
             101         33534         2           1          1
       40-44 15         163181        26           1          1
             21           7073         0           1          0
             24         347409        51           2          0
             32         666046       130           7          4
             101         68619        10           1          0
             104         17559         1           1          1
       45-49 15         812113       138           6          3
             21         506754        98           5          0
             24         355165        81           4          3
             32        2114362       429          13          4
             104        125650        20           4          0

In [ ]:
result.iloc[0][]

In [227]:
data

,ad_id,xyz_campaign_id,fb_campaign_id,age,gender,interest,Impressions,Clicks,Spent,Total_Conversion,Approved_Conversion
0,708746,916,103916,30-34,M,15,7350,1,1.430000,2,1
1,708749,916,103917,30-34,M,16,17861,2,1.820000,2,0
2,708771,916,103920,30-34,M,20,693,0,0.000000,1,0
3,708815,916,103928,30-34,M,28,4259,1,1.250000,1,0
4,708818,916,103928,30-34,M,28,4133,1,1.290000,1,1
5,708820,916,103929,30-34,M,29,1915,0,0.000000,1,1
6,708889,916,103940,30-34,M,15,15615,3,4.770000,1,0
7,708895,916,103941,30-34,M,16,10951,1,1.270000,1,1
8,708953,916,103951,30-34,M,27,2355,1,1.500000,1,0
9,708958,916,103952,30-34,M,28,9502,3,3.160000,1,0
10,708979,916,103955,30-34,M,31,1224,0,0.000000,1,0
11,709023,916,103962,30-34,M,7,735,0,0.000000,1,0
12,709038,916,103965,30-34,M,16,5117,0,0.000000,1,0
13,709040,916,103965,30-34,M,16,5120,0,0.000000,1,0
14,709059,916,103968,30-34,M,20,14669,7,10.280000,1,1
15,709105,916,103976,30-34,M,28,1241,0,0.000000,1,1
16,709115,916,103978,30-34,M,30,2305,1,0.570000,1,0
17,709124,916,103979,30-34,M,31,1024,0,0.000000,1,1
18,709179,916,103988,35-39,M,15,4627,1,1.690000,1,0
19,709183,916,103989,35-39,M,16,21026,4,4.630000,2,1
20,709320,916,104012,35-39,M,15,1422,0,0.000000,1,1
21,709323,916,104012,35-39,M,15,7132,2,2.610000,1,0
22,709326,916,104013,35-39,M,16,12190,2,3.050000,1,0
23,709327,916,104013,35-39,M,16,12193,2,3.060000,1,1
24,709328,916,104013,35-39,M,16,3332,0,0.000000,1,1
25,709455,916,104034,35-39,M,7,559,0,0.000000,1,0
26,709544,916,104049,35-39,M,29,7440,2,2.980000,1,1
27,709614,916,104061,40-44,M,16,19113,4,5.520000,1,0
28,709756,916,104085,40-44,M,16,10976,2,1.690000,1,1
29,709761,916,104085,40-44,M,16,2861,0,0.000000,1,0
...,...,...,...,...,...,...,...,...,...,...,...
1113,1314384,1178,179951,35-39,F,113,441192,53,77.600000,6,2
1114,1314385,1178,179952,35-39,F,114,90470,11,16.730000,1,1
1115,1314386,1178,179953,40-44,F,100,834243,166,246.749998,18,7
1116,1314387,1178,179954,40-44,F,101,696612,152,223.189995,31,9
1117,1314388,1178,179955,40-44,F,102,329333,48,67.609999,1,0
1118,1314389,1178,179956,40-44,F,103,1114711,224,319.000002,6,0
1119,1314390,1178,179957,40-44,F,104,267316,58,82.929999,3,0
1120,1314391,1178,179958,40-44,F,105,228629,38,57.000000,2,0
1121,1314392,1178,179959,40-44,F,106,758340,159,233.110002,13,4
1122,1314393,1178,179960,40-44,F,107,877535,149,217.779997,5,2
1123,1314394,1178,179961,40-44,F,108,1357386,223,323.060007,10,1
1124,1314395,1178,179962,40-44,F,109,280240,61,87.990002,2,2
1125,1314396,1178,179963,40-44,F,110,419922,75,105.450001,3,1
1126,1314397,1178,179964,40-44,F,111,402975,83,120.899998,1,0
1127,1314398,1178,179965,40-44,F,112,1137635,211,301.049999,30,10
1128,1314400,1178,179967,40-44,F,114,250234,40,62.319999,4,1
1129,1314401,1178,179968,45-49,F,100,904907,195,279.219995,11,1
1130,1314402,1178,179969,45-49,F,101,589270,107,158.050002,10,4
1131,1314403,1178,179970,45-49,F,102,168714,24,36.010001,2,2
1132,1314404,1178,179971,45-49,F,103,71982,11,16.340001,1,0
1133,1314405,1178,179972,45-49,F,104,558666,110,162.639998,14,5
1134,1314406,1178,179973,45-49,F,105,1118200,235,333.749994,11,4
1135,1314407,1178,179974,45-49,F,106,107100,23,33.710001,1,0
1136,1314408,1178,179975,45-49,F,107,877769,160,232.590001,13,4
1137,1314409,1178,179976,45-49,F,108,212508,33,47.690000,4,1
1138,1314410,1178,179977,45-49,F,109,1129773,252,358.189997,13,2
1139,1314411,1178,179978,45-49,F,110,637549,120,173.880003,3,0
1140,1314412,1178,179979,45-49,F,111,151531,28,40.289999,2,0
1141,1314414,1178,179981,45-49,F,113,790253,135,198.710000,8,2
1142,1314415,1178,179982,45-49,F,114,513161,114,165.609999,5,2

In [218]:
result2=final_desc.append(ds, ignore_index=False, sort=False)
result2

                   nb_vues
(F, 30-34, 15)         NaN
(F, 30-34, 21)         NaN
(F, 30-34, 24)         NaN
(F, 30-34, 32)         NaN
(F, 30-34, 101)        NaN
(F, 30-34, 104)        NaN
(F, 35-39, 15)         NaN
(F, 35-39, 21)         NaN
(F, 35-39, 24)         NaN
(F, 35-39, 32)         NaN
(F, 35-39, 101)        NaN
(F, 40-44, 15)         NaN
(F, 40-44, 21)         NaN
(F, 40-44, 32)         NaN
(F, 40-44, 101)        NaN
(F, 40-44, 104)        NaN
(F, 45-49, 15)         NaN
(F, 45-49, 21)         NaN
(F, 45-49, 24)         NaN
(F, 45-49, 101)        NaN
(F, 45-49, 104)        NaN
(M, 30-34, 15)         NaN
(M, 30-34, 21)         NaN
(M, 30-34, 24)         NaN
(M, 30-34, 32)         NaN
(M, 30-34, 101)        NaN
(M, 35-39, 15)         NaN
(M, 35-39, 21)         NaN
(M, 35-39, 24)         NaN
(M, 35-39, 32)         NaN
...                    ...
12                262250.0
13                460538.0
14                696612.0
15                267316.0
16               1221803.0
17                224291.0
18                 99250.0
19                589270.0
20                558666.0
21               4737422.0
22                546558.0
23                276299.0
24                484812.0
25                 72228.0
26               1150574.0
27                292834.0
28                469952.0
29               1236434.0
30                 33534.0
31                163181.0
32                  7073.0
33                347409.0
34                666046.0
35                 68619.0
36                 17559.0
37                812113.0
38                506754.0
39                355165.0
40               2114362.0
41                125650.0

[84 rows x 1 columns]

In [219]:
final=final_desc
df_final=pd.DataFrame(final)
df_final['nb_vues']=ds
df_final

                       nb_vues
gender age   interest
F      30-34 15            NaN
             21            NaN
             24            NaN
             32            NaN
             101           NaN
             104           NaN
       35-39 15            NaN
             21            NaN
             24            NaN
             32            NaN
             101           NaN
       40-44 15            NaN
             21            NaN
             32            NaN
             101           NaN
             104           NaN
       45-49 15            NaN
             21            NaN
             24            NaN
             101           NaN
             104           NaN
M      30-34 15            NaN
             21            NaN
             24            NaN
             32            NaN
             101           NaN
       35-39 15            NaN
             21            NaN
             24            NaN
             32            NaN
             101           NaN
       40-44 15            NaN
             21            NaN
             24            NaN
             32            NaN
             101           NaN
             104           NaN
       45-49 15            NaN
             21            NaN
             24            NaN
             32            NaN
             104           NaN

In [220]:
series=[pd.Series(sum_impressions)]
df=pd.DataFrame(series)
df.melt()

   gender    age  interest    value
0       F  30-34        15  1632981
1       F  30-34        21   654193
2       F  30-34        24   455139
3       F  30-34        32  1237675
4       F  30-34       101   524306
5       F  30-34       104   442919
6       F  35-39        15   157467
7       F  35-39        21   283220
8       F  35-39        24   228664
9       F  35-39        32   222378
10      F  35-39       101   975884
11      F  40-44        15   582725
12      F  40-44        21   262250
13      F  40-44        32   460538
14      F  40-44       101   696612
15      F  40-44       104   267316
16      F  45-49        15  1221803
17      F  45-49        21   224291
18      F  45-49        24    99250
19      F  45-49       101   589270
20      F  45-49       104   558666
21      M  30-34        15  4737422
22      M  30-34        21   546558
23      M  30-34        24   276299
24      M  30-34        32   484812
25      M  30-34       101    72228
26      M  35-39        15  1150574
27      M  35-39        21   292834
28      M  35-39        24   469952
29      M  35-39        32  1236434
30      M  35-39       101    33534
31      M  40-44        15   163181
32      M  40-44        21     7073
33      M  40-44        24   347409
34      M  40-44        32   666046
35      M  40-44       101    68619
36      M  40-44       104    17559
37      M  45-49        15   812113
38      M  45-49        21   506754
39      M  45-49        24   355165
40      M  45-49        32  2114362
41      M  45-49       104   125650

In [221]:
list_of_series=[pd.Series(sum_impressions)]


data_group=pd.DataFrame(list_of_series)
#data_group=pd.Series()

In [222]:
def genSankey(df,cat_cols=[],value_cols='',title='Sankey Diagram'):
    # maximum of 6 value cols -> 6 colors
    colorPalette = ['#4B8BBE','#306998','#FFE873','#FFD43B','#646464']
    labelList = []
    colorNumList = []
    for catCol in cat_cols:
        labelListTemp =  list(set(df[catCol].values))
        colorNumList.append(len(labelListTemp))
        labelList = labelList + labelListTemp
        
    # remove duplicates from labelList
    labelList = list(dict.fromkeys(labelList))
    
    # define colors based on number of levels
    colorList = []
    for idx, colorNum in enumerate(colorNumList):
        colorList = colorList + [colorPalette[idx]]*colorNum
        
    # transform df into a source-target pair
    for i in range(len(cat_cols)-1):
        if i==0:
            sourceTargetDf = df[[cat_cols[i],cat_cols[i+1],value_cols]]
            sourceTargetDf.columns = ['source','target','count']
        else:
            tempDf = df[[cat_cols[i],cat_cols[i+1],value_cols]]
            tempDf.columns = ['source','target','count']
            sourceTargetDf = pd.concat([sourceTargetDf,tempDf])
        sourceTargetDf = sourceTargetDf.groupby(['source','target']).agg({'count':'sum'}).reset_index()
        
    # add index for source-target pair
    sourceTargetDf['sourceID'] = sourceTargetDf['source'].apply(lambda x: labelList.index(x))
    sourceTargetDf['targetID'] = sourceTargetDf['target'].apply(lambda x: labelList.index(x))
    
    # creating the sankey diagram
    data = dict(
        type='sankey',
        node = dict(
          pad = 15,
          thickness = 20,
          line = dict(
            color = "black",
            width = 0.5
          ),
          label = labelList,
          color = colorList
        ),
        link = dict(
          source = sourceTargetDf['sourceID'],
          target = sourceTargetDf['targetID'],
          value = sourceTargetDf['count']
        )
      )
    
    layout =  dict(
        title = title,
        font = dict(
          size = 10
        )
    )
       
    fig = dict(data=[data], layout=layout)
    return fig

In [223]:
genSankey(df,cat_cols=[],value_cols='',title='Sankey Diagram')

UnboundLocalError: local variable 'sourceTargetDf' referenced before assignment

In [ ]:
fig = genSankey(df,cat_cols=['lvl1','lvl2','lvl3','lvl4'],value_cols='count',title='Word Etymology')
plotly.offline.plot(fig, validate=False)